<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <ul class="nav">
    <li class="nav-item nav-pills">
      <a class="nav-link" *ngIf="this._authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profile</a>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" *ngIf="!this._authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!this._authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="this._authService.loggedIn()" style="cursor: pointer" (click)="this._authService.logoutUser()">Logout</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h1>{{title}}</h1>
<router-outlet></router-outlet>
</div>
